#main{
    background: #434747;
    border-radius: 5px;
    font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica  Neue,sans-serif;
    color: #DBDBDB;
  }
  #title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #img-div{
    font-size: 16px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img{
    width: 1360px;
    height: 765px;
  }
  #tribute-info{
    background: #D4D4D4;
    color: #353535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul{
     width: 1360px;
     display: flex;
     flex-direction: column;
     justify-content: baseline;
  }
  li{
    margin-bottom: 20px;
  }
  a{
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    font-style: italic;
  }
  a:hover{
    color: #60D1E5;
  }
  #tribute-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }